{% extends 'tracker/base.html' %}

{% block styles %}
<style>
.mainmid {
  width: 16%; /* or any other width */
  margin: auto;
  text-align: center;
}
.mainup{
    text-align: center;
}
</style>
{% endblock styles %}

{% block content %}
<div class="mainup">
    <p>Teacher: {{ teacher }}</p>
    <a  href="{% url 'tracker-home' %}">Log Out</a>
</div>
    <div class="mainmid"> 
        <p>Students attended your class</p>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Student</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for attendance in attendance_records %}
            <tr>
                <td>{{ attendance.date }}</td>
                <td>{{ attendance.student }}</td>
                <td>{% if attendance.status == True %}
                    Present
                    {% else %}
                    Absent
                    {% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
